<div id="footer">
	<ul class="fUl">
		<li class="f_item" > 
  
			<ul style="list-style:none;">
				<li class="h_item logoText"><a target=_parent href="index.jsp">Law Bot</a></li>
				<li style="font-size:16px;margin-bottom:8px;margin-top: -17px;">&nbsp;&nbsp;法律机器人</li>
				<li><img src="assets/images/wx.png" width="100" height="100"></li>
				<li><span class="copyright">Copyright ©2016 ailaw.com. ALL Rights Reserved</span></li>
				<li style="margin-top: -3px;"><span class="copyright">粤ICP备05005391号</span></li>
			</ul>
		</li>
		<li class="f_item bl" >
			<ul style="list-style:none">
				<li class="h_item">核心系统</li>
				<li class="fhI"><a target=_parent href="test.jsp">AI案件分析</a></li>
				<li class="fhI"><a target=_parent href="http://desk.v5kf.com/desk/kehu.html?site_id=123898;">法律Chatbot</a></li>
				<!-- <li class="fhI"><a href="lab.html">法律实验室</a></li> -->
				<li class="fhI"><a target=_parent href="adju.html">AI裁决书</a></li>
				<li class="fhI"><a target=_parent href="product.html">产品列表</a></li>
			</ul>
		</li>
		<li class="f_item bl">
			<ul style="list-style:none">
				<li class="h_item">检索系统</li>
				<li class="fhI"><a  href="">案件类型</a></li>
				<li class="fhI"><a  href="">律师/律所</a></li>
				<li class="fhI"><a  href="">法官/法院</a></li>
				<li class="fhI"><a  href="">对比统计</a></li>
			</ul>
		</li>
		<li class="f_item bl">
			<ul style="list-style:none">
				<li class="h_item">关于</li>
				<li class="fhI"><a target=_parent href="about.html">关于我们</a></li>
				<li class="fhI"><a target=_parent href="about.html">联系我们</a></li>
				<li class="fhI">legallab@hotmail.com</li>
			</ul>
		</li>
  </ul>
</div>
