<!-- 标题栏下 ，左右面板-->
<div class="main">
  <div class="container">
    <div class="row case-row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h4 class="panel-title">案例分析</h4>
          </div>
          <div class="panel-body">
            <form role="form" onclick="return false">
              <div class="form-group">
                <textarea  class="form-control" name="caseText" class="case-content" [(ngModel)]="caseText" ></textarea>
              </div>                       
            </form> 
            <div class="btn-group pull-right">        
              <button class="btn btn-primary" (click)="analyze();" [disabled]="caseText.length <= 0 || caseKeysLoading || caseLoading > 0">分析</button>
            </div> 
          </div>   
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h4 class="panel-title">关键因子</h4>
          </div>
          <div class="panel-body">
              <p *ngIf="factors.length <= 0">暂无数据...</p>
              <app-loading *ngIf="caseKeysLoading"></app-loading>
              <p *ngFor="let f of factors;let i = index">{{i + 1}}. {{f}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="caseLoading > 0">
      <app-loading></app-loading>
    </div>
    <div class="row" *ngIf="factors.length > 0 && caseLoading == 0"> <!--*ngIf="factors.length > 0 && caseLoading == 0"-->
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-info" >
          <div class="panel-heading">
            <h4 class="panel-title">
              <a href="#" (click)="$event.preventDefault();eleStates.ruleCollapse = !eleStates.ruleCollapse">引用规则<span class="badge">{{rules.length}}</span></a>
              <a href="#" class="pull-right" (click)="$event.preventDefault();" (click)="showRuleExportWin(caseRuleExportTpl)" >导出审理意见</a>
            </h4>
          </div>
          <div class="panel-body" [ngClass]="{'collapse': eleStates.ruleCollapse}">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th style="width:5%">勾选</th>
                  <th style="width:45%">引用规则</th>
                  <th style="width:22%">引用法条</th>
                  <th style="width:23%">关键因子</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let r of rules">
                  <td>
                    <input type="checkbox" name="rule_ck" [(ngModel)]="r.checked"/>
                  </td>
                  <td><div class="eclipse">{{r.ruleContent}}</div></td>
                  <td class="laws"><div *ngFor="let l of r.lawDetails" title="{{l.lawDetail}}">{{l.lawIndex}}</div></td>
                  <td><div class="pre">{{r.ruleKeys}}</div></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="factors.length > 0 && caseLoading == 0">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-info" >
          <div class="panel-heading">
            <h4 class="panel-title">
              <a href="#" (click)="$event.preventDefault();eleStates.lawDescCollapse = !eleStates.lawDescCollapse">引用相关法律、法规及司法解释</a></h4>
          </div>
          <div class="panel-body" [ngClass]="{'collapse': eleStates.lawDescCollapse}">
            <div class="row">
              <div class="col-md-4">
                <h4>法律、法规</h4>
                <div class="laws">
                  <div *ngFor="let l of laws.law0">
                    <a href="#" (click)="$event.preventDefault(); showLawDetail(l ,'法律条文' ,lawDetailTpl)">{{l.lawFullName}}</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <h4>司法解释</h4>
                <div class="laws">
                  <div *ngFor="let l of laws.law1">
                    <a href="#" (click)="$event.preventDefault();showLawDetail(l , '司法解释',lawDetailTpl)">{{l.lawFullName}}</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <h4>地方性文件</h4>
                <div class="laws">
                  <div *ngFor="let l of laws.law2">
                    <a href="#" (click)="$event.preventDefault();showLawDetail(l ,'地方性文件',lawDetailTpl)">{{l.lawFullName}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row same-case" *ngIf="factors.length > 0 && caseLoading == 0">
      <ul class="nav nav-tabs">
        <li [ngClass]="{'active': caseTabIndex == 0}"><a href="#" (click)="caseTabClick($event,0)" ><h5>案例统计</h5></a></li>
        <li [ngClass]="{'active': caseTabIndex == 4}"><a href="#" (click)="caseTabClick($event,4)" ><h5>最高法院案例推送</h5></a></li>
        <li [ngClass]="{'active': caseTabIndex == 3}"><a href="#" (click)="caseTabClick($event,3)" ><h5>高级法院案例推送</h5></a></li>
        <li [ngClass]="{'active': caseTabIndex == 2}"><a href="#" (click)="caseTabClick($event,2)"><h5>中级法院案例推送</h5></a></li>
        <li [ngClass]="{'active': caseTabIndex == 1}"><a href="#" (click)="caseTabClick($event,1)"><h5>基层法院案例推送</h5></a></li>
      </ul>
      <div *ngIf="caseTabIndex == 0">
        <div class="row">
          <div class="col-md-12">
            <span class="glyphicon glyphicon-bookmark"></span>
            <label>法院等级:</label>
            <label>
              <input type="checkbox" name="courtLevel">最高法院
            </label>
            <label>
              <input type="checkbox" name="courtLevel">高级法院
            </label>
            <label>
              <input type="checkbox" name="courtLevel">中级法院
            </label>
            <label>
              <input type="checkbox" name="courtLevel">基层法院
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div echarts [options]="geoOptions"></div>
          </div>
          <div class="col-md-6">
            <div echarts [options]="pieOptions"></div>
          </div>
        </div>
      </div>
      <div *ngIf="caseTabIndex > 0">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th style="width:5%">排名</th>
              <th style="width:25%">案名</th>
              <th style="width:10%">法条</th>
              <th style="width:30%">关键因子</th>
              <th style="width:10%">引用规则</th>
              <th style="width:10%">审理日期</th>
              <th style="width:10%">操作</th>								
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of activeCase ; let i = index">
              <td>{{i + 1}}</td>
              <td>{{c.caseName}}</td>
              <td><button class="btn btn-primary" (click)="showCaseLaws(c , caseRefTpl)">引用法条</button></td>
              <td>
                <span *ngFor="let k of c.caseKeys; let j = index" [class.strong]="factors.indexOf(k) >= 0">{{j + 1}}、{{k}} &nbsp;&nbsp;</span>
              </td>
              <td><button class="btn btn-primary" (click)="showCaseRules(c , caseRulesTpl)">引用规则</button></td>
              <td>{{c.caseDate}}</td>
              <td><button class="btn btn-danger" (click)="showCaseDetail(c , caseTabIndex , caseContentTpl);">案件明细</button></td>
            </tr>
          </tbody>
        </table>
      </div> 
    </div>
  </div>
</div>
<ng-template #caseRuleExportTpl>
  <div class="modal-header">
    <h4 class="modal-title pull-left">导出审理意见</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let r of exportRules" class="export-rule">
      <div *ngFor="let l of r.lawDetails">
        依据{{l.lawIndex}}:{{l.lawDetail}}
      </div>
      
    </div>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-primary" (click)="copyRules()">复制</button> -->
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">关闭</button>
  </div>
</ng-template>

<ng-template #caseRefTpl>
  <div class="modal-header">
    <h4 class="modal-title pull-left">引用法条</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <h4>{{modalData.caseObj.case_name}}</h4>
      <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th width="250px">法条名称</th><th>法条内容</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let l of modalData.caselaws">
              <td>{{l.law_full_name}}{{l.index_name}}</td>
              <td>{{l.law_detail}}</td>
            </tr>
          </tbody>
        </table>
  </div>
</ng-template>

<ng-template #caseRulesTpl>
    <div class="modal-header">
      <h4 class="modal-title pull-left">引用规则</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h4>{{modalData.caseObj.caseName}}</h4>
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th width="50px">序号</th><th>引用规则</th><th width="200px">引用法条</th><th width="200px">关键因子</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of modalData.caseRules; let i = index">
            <td>{{i + 1}}</td>
            <td>{{r.ruleContent}}</td>
            <td><div class="" *ngFor="let d of r.lawDetails" title="{{d.lawDetail}}">{{d.lawIndex}}</div></td>
            <td><div class="pre">{{r.ruleKeys}}</div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>

<ng-template #caseContentTpl>
  <div class="modal-header">
    <h4 class="modal-title pull-left">案件明细</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4>{{modalData.caseObj.caseName}}</h4>
    <div *ngIf="modalData.index == 4">
      <pre>{{modalData.caseObj.caseContent}}</pre>
    </div>
    <div *ngIf="modalData.index < 4" class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">原告诉称</h4>
            </div>
            <div class="panel-body">
              {{modalData.caseObj.caseContent}}
            </div>
          </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">法院判决</h4>
              </div>
              <div class="panel-body">
                <table class="table table-hover table-bordered">
                  <thead>
                    <tr>
                      <th>法院审理意见</th><th>法院判决</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{modalData.caseObj.courtHear}}</td>
                      <td>{{modalData.caseObj.courtDecision}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
  </div>
</ng-template>

<ng-template #lawDetailTpl>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{lawModal.title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p *ngFor="let d of lawModal.law.lawDetails">{{d.indexName}} {{d.lawDetail}}</p>
  </div>
</ng-template>


