<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand e-hidden" href="/">{{nav.title}}</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav">
				<li *ngFor="let n of nav.menus" [class.active]="n.active" [class.dropdown]="n.subMenus" class="nav-item">
					<a class="nav-link" *ngIf="n.chatbot" href="#" (click)="$event.preventDefault();openLawbot()">{{n.title}}</a>
					<a class="nav-link" *ngIf="n.url && !n.subMenus" [href]="n.url">{{n.title}}</a>
					<a class="nav-link" *ngIf="n.url && n.subMenus" 
							href="#" class="nav-link dropdown-toggle" 
							data-toggle="dropdown" 
							role="button"
							aria-haspopup="true" 
							aria-expanded="false">
							{{n.title}}
					</a>
					<div *ngIf="n.subMenus" class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a *ngFor="let s of n.subMenus" class="dropdown-item" 
							[ngClass]="{'active': s.title == menuselected}"
							(click)="menuSelect(s.title)"
							[href]="s.url">
							{{s.title}}
						</a>
					</div>
				</li>
			</ul>
		</div>
		<div>
			<ul class="navbar-nav navbar-right e-hidden">
				<li class="login" *ngIf="code != 200">
					<a [href]="loginUrl">
						<span>Login</span>
					</a>
				</li>
				<li class="account dropdown" *ngIf="code == 200">
					<a class="nav-link" href="#" (click)="$event.preventDefault()"
						data-toggle="dropdown" 
						role="button"
						aria-haspopup="true" 
						aria-expanded="false"
						style="padding-bottom: 0;"
					><span>{{user.username}}</span></a>
					<div class="dropdown-menu" style="margin-top: 0px" aria-labelledby="navbarDropdown">
						<a [href]="logoutUrl" style="margin-left: 15px">Logout</a>
					</div>
				</li>
			</ul>
		</div>
</nav>