<div class="container">
    <br>
        <!-- 第一行 -->
      <div class="row clearfix">
        <div class="col-md-7 col-xs-7 col-sm-7 column">
            <br><br>
          <div class="jumbotron">		
            <p style="color:#666666;font-size:17px;">
              减轻人工撰写裁决书的工作量，取代重复性劳动；<br>
              降低成本，提高效率；<br>
              实现仲裁裁决的标准化、规范化。</p>
            
          </div>
         </div>
        <div class="col-md-5 col-xs-5 col-sm-5 column">
            <img src="assets/images/adju_p1.png">
        </div>
      </div>
        <hr>
      <!-- 第二行 -->
      <div class="row clearfix">
      <div class="col-md-5 col-xs-5 col-sm-5 column">
            <img src="assets/images/adju_p2.png" >
        </div>
        <div class="col-md-7 col-xs-7 col-sm-7 column">
        <br><br>
          <div class="jumbotron">		
            <p style="color:#666666;font-size:17px;">		
              自动生成裁决书：<br>
              机器人从当事人材料中，智能抓取所需内容， 仅数分钟，就能撰写出一份完整的裁决书。</p>
          </div>
        </div>
        
      </div>
      <hr>
      <!-- 第三行 -->
      <div class="row clearfix">
        <div class="col-md-7 col-xs-7 col-sm-7 column">
          <br><br>
          <div class="jumbotron">
            
            <p style="color:#666666;font-size:17px;">
            
              智能纠错校正:<br>
              包含简称纠错、法律条文纠错、数字计算纠错等...<br>
              并用色彩进行智能标识提醒。</p>
            
          </div>
        </div>
        <div class="col-md-5 col-xs-5 col-sm-5 column">
            <img src="assets/images/adju_p3.png">
        </div>
      </div>
        <hr>
    
      </div><!-- 结束container --> 
