li:hover .dropdown-menu {
    display: block;
}
.login span{
	padding: 10px;
    background: #000;
    color: #e6e6e6;
    border-radius: 5px;
}
.account:hover > .dropdown-menu{
    display: block !important;
}
.navbar{
    padding: 0 7%;
    margin: 0px;
}
.navbar-brand{
    padding: 1.1em;
}