<nav id="head" class="navbar">
	<div class="head_box">
			<div class="logo navbar-brand" onclick="window.location.href='/'">{{title}}<p>小法博</p></div>	
	</div>
	<div class="right">
		<ul class="nav navbar-nav">
			<li class="nav_title"><a class="active" routerLink="/" id="indexId"><span>首页</span></a></li>
			<li class="nav_title"><a routerLink="product" id="productId"><span>产品</span></a></li>
			
			<li class="nav_title dropdown nav-item" id="experience">
				<a href="reco" id="aiId"
				class="nav-link dropdown-toggle" 
				data-toggle="dropdown" 
				role="button" 
				aria-haspopup="true" 
				aria-expanded="false">AI案件分析</a>
				<div class="menu dropdown-menu" aria-labelledby="navbarDropdown">
					<ul>
							<a href="javascript:;" class="dropdown-item" href="reco/#/mjjd"><span class="cld">民间借贷</span></a>
							<a href="javascript:;" class="dropdown-item"><span class="cld">买卖合同</span></a>
							<a href="javascript:;" class="dropdown-item"><span class="cld">金融、投资</span></a>
							<a href="javascript:;" class="dropdown-item"><span class="cld">知识产权</span></a>
							<a href="javascript:;" class="dropdown-item"><span class="cld">诉讼、仲裁</span></a>
							<a href="javascript:;" class="dropdown-item"><span class="cld">房地产</span></a>
							<a href="javascript:;" class="dropdown-item"><span class="cld">海事物流</span></a>
					</ul>
				</div>
			</li>
			<li class="nav_title"><a href="#" (click)="$event.preventDefault();openLawbot()"><span>法律Chatbot</span></a></li>
			<li class="nav_title"><a href="award"><span>AI裁决书</span></a></li>
			<li class="nav_title"><a href="contract"><span>AI合同</span></a></li>
			
			
			<li class="nav_title"><a routerLink="about" id="aboutId"><span>关于我们</span></a></li>
			<li class="nav_title pull-right login" *ngIf="code != 200">
				<a  [href]="loginUrl">Login</a>
			</li>
			<li class="nav_title pull-right account" *ngIf="code == 200">
				<a [href]="logoutUrl"><span>{{user.username}}</span></a>
			</li>
		</ul>
	</div>
</nav>
