<div class="body">
  <div class="left">
    <div class="header">
      <h4>AI案件分析</h4>
    </div>
    <div class="list-group">
      <a routerLink="/mjjd" class="list-group-item active">
        民间借贷
      </a>
      <a routerLink="/mjjd" class="list-group-item">买卖合同</a>
      <a routerLink="/mjjd" class="list-group-item">金融、投资</a>
      <a routerLink="/mjjd" class="list-group-item">知识产权</a>
      <a routerLink="/mjjd" class="list-group-item">诉讼、仲裁</a>
      <a routerLink="/mjjd" class="list-group-item">房地产</a>
      <a routerLink="/mjjd" class="list-group-item">海事物流</a>
    </div>
  </div>
  <div class="right">
    <router-outlet></router-outlet>
  </div>
</div>