<?xml version="1.0" encoding="UTF-8" ?>
<!--
       Copyright 2015-2016 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawbot.reco.dao.RuleDao">
	<resultMap type="HashMap" id="RuleMap">
		<id property="ruleId" column="rule_id" />
		<result property="ruleContent" column="rule_content"/>
		<result property="ruleKeys" column="rule_keys"/>
		<collection property="lawDetails" ofType="HashMap" javaType="ArrayList">
			<result property="lawIndex" column="law_index"/>
			<result property="lawDetail" column="law_detail"/>
		</collection>
	</resultMap>
	
    <select id="findWithLawByKeys" resultMap="RuleMap">
        SELECT
			t3.*
		FROM
			s_key_info t1
			JOIN t_rule_key t2 ON t1.key_id = t2.key_id
			JOIN v_rule_detail t3 ON t2.rule_id = t3.rule_id 
		WHERE
			t1.key_content IN <foreach collection="caseKeys" item="key" open="(" close=")" separator=",">#{key}</foreach>
    </select>
    
</mapper>